/* blur and darken image */
.bg-image {
    height: 720px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* nav base class or when scrolled */
.navbar {
    background: #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.nav-link {
    color: #2d3436!important;
}

.nav-link.active {
    color: #ff6348!important;
}

.nav-link:hover {
    color: #ff6348!important;
}

.navbar .navbar-brand {
    color: #2d3436!important;
}

.navbar .navbar-brand:hover {
    color: #ff6348!important;
}

.navbar .navbrand {
    filter: invert();
}

/* nav on top of the page nav-transparent class */
.nav-transparent {
    background: transparent;
    box-shadow: none;
}

.nav-transparent .nav-link {
    color: #fff!important;
}

.nav-transparent .nav-link.active {
    color: #ff6348!important;
}

.nav-transparent .nav-link:hover{
    color: #ff6348!important;
}

.nav-transparent .navbar-brand {
    color: #fff!important;
}

.nav-transparent .navbar-brand:hover {
    color: #ff6348!important;
}

.nav-transparent .navbrand {
    filter: none;
}

.scroll-down-icon {
    transform: rotate(-90deg);
}

.btn-rounded {
    padding: 1rem 1rem;
    background-color: #f4623a;
    border: none;
    border-radius: 10rem;
}

.page-section {
    padding: 8rem 0;
}

.bg-about {
    background-color: #f4623a!important;
}

.up-arrow{
    transform: rotate(90deg);
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
}

hr.divider-light{
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #fff;
}

hr.divider-black{
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #000;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

/* portfolio */
.no-glutters {
    margin-right: 0;
    margin-left: 0;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: #fff;
    background: rgba(244, 98, 58, 0.9);
    transition: opacity 0.25s ease;
    text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption:hover {
    opacity: 1;
}

#category .container-fluid .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 0.25s ease;
    text-align: center;
}

#category .container-fluid .portfolio-box .portfolio-box-caption:hover {
    opacity: 1;
    cursor: default;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.img-fluid-verical {
    width: auto;
    height: 100%;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}

.section-top {
    margin-top: 70px;
}

.map {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.5);
}

.link {
    color: #ff6348!important;
}

.link:hover {
    color: #2d3436!important;
    text-decoration: none;
}

.list-group-item.active {
    background-color: #ff6348!important;
    border: 0px;
}

.spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* nav on mobile devices */
@media only screen and (max-width:992px){
    .bg-image {
        height: auto;
        margin-top: 80px
    }
    
    .navbar {
    background: #f8f9fa;
    }

    .navbar .nav-link {
        color: #2d3436!important;
    }
    
    .nav-link.active {
        color: #ff6348!important;
    }

    .navbar .nav-link:hover {
        color: #ff6348!important;
    }

    .navbar .navbar-brand {
        color: #2d3436!important;
    }

    .navbar .navbar-brand:hover {
        color: #ff6348!important;
        filter: none;
    }
    
    .navbar .navbrand {
        filter: invert();
    }
    
    #portfolio .container-fluid .portfolio-box .portfolio-box-caption {
        display: flex;
        align-items: flex-end;
        justify-content:flex-end;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        opacity: 1;
        color: #fff;
        font-weight: bolder;
        background: rgba(0, 0, 0, 0);
        transition: opacity 0.25s ease;
        text-align: center;
    }

    #portfolio .container-fluid .portfolio-box .portfolio-box-caption:hover {
        background: rgba(244, 98, 58, 0.9);
        opacity: 1;
    }
}
